.App {
  font-family: "Courgette", cursive;
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 16px;
}
.city {
  flex: 3;
}
.currentWeatherDetails {
  flex: 2;
}

h3 {
  font-size: 25px;
  line-height: 10px;
  margin-bottom: 35px;
}
.searchInput {
  background: transparent;
  border: none;
  border-bottom: 1px solid #333344;
  font-size: 16px;
}
input:focus {
  outline: none;
}
input::placeholder {
  color: #333344;
  opacity: 0.9;
}
.label {
  background: white;
  border-radius: 5px;
  padding: 0 5px;
  font-size: 12px;
  margin: 0 2px;
}
.form-group {
  display: flex;
}
.topCities {
  list-style: none;
  margin: 0 0 20px 0;
  padding: 0;
}
.topCities li {
  display: inline;
  padding-right: 20px;
  text-decoration: underline;
}
.searchButton,
.currentButton {
  border: 1px solid #333344;
  border-radius: 10px;

  outline: none;
  font-size: 16px;
  margin: 0 5px;
}
.searchButton {
  background-color: rgb(253, 242, 242);
  padding: 3px 10px;
}
.currentButton {
  background-color: rgb(240, 143, 143);
  padding: 0 10px;
}
.block-weather {
  max-width: 900px;
  margin: 100px auto 0;
  box-shadow: 1px 10px 10px #d2d2d2;
  font-family: "Courgette", cursive;
  font-family: "Hanken Grotesk", sans-serif;
}
.weather-header {
  background: #f6cccc;
  padding: 20px 0 0 20px;
  margin: 0;
  display: flex;
}
.currentCity {
  text-transform: capitalize;
  margin-top: 30px;
}
.currentIcon {
  position: relative;
  width: 150px;
  bottom: 10px;
  left: 20px;
}
.currentWeather {
  font-size: 70px;
  line-height: 70px;
}
.currentTemp {
  display: inline-block;
  width: 100px;
  text-align: right;
  margin-right: 10px;
}
.measures {
  display: inline;

  font-size: 36px;
  vertical-align: text-top;
}
.currentMeasure {
  margin-right: 15px;
}
.changeMeasure {
  opacity: 0.6;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none !important;
}
.changeMeasure:hover {
  opacity: 1;
  zoom: 1.1;
}
.day {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid #333344;
}
.weatherDetails {
  list-style: none;
  font-size: 16px;
  padding: 0;
  margin: 15px;
}
.description {
  text-transform: capitalize;
}

.tableWrapper {
  margin: 0 60px;
}
.weatherTable {
  background: rgb(236 184 184);
  text-align: center;
  font-size: 24px;
  color: #333344;
  padding: 20px 0 10px 0;
}
.labels {
  line-height: 20px;
  padding: 10px 0;
}

.tableImg {
  display: block;
  margin: 0 auto;
  padding: 15px 0;
}
.table {
  padding-bottom: 50px;
  margin: 0;
}
.git-hub {
  padding: 0 0 20px 20px;
}
